header {
  background-color: #333; /* color de gris oscuro */
  color: white; /* color de texto blanco */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px; /* margen interno */
  margin-bottom: 1em;

  img {
    position: relative;
    left: 10px;
  }

  h1 {
    position: relative;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-family: "PT Serif", serif;
    color: white;
    text-decoration: underline grey;
    display: flex;
  }
}

nav {
  background-color: #333;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  }
}
